@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: #302C42;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.progress-bar {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #ae8ce1;
  transform-origin: 0%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #685d5d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}